<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $9 per Month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, qui.
    </p>
  </header>
  <div class="input-group">

    <input type="text" class="input" placeholder="Enter text" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </section>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com</span></li>
    <li>.sg</li>
    <li>.space</li>
    <li>.info</li>
    <li>.net</li>
    <li>.xyz</li>
  </ul>