<section class="block container">
  <header class="block__header">
    <h2>About MusicXML</h2>
    <p>Why use MusicXML?</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
        nulla.
      </p>
    </div>
    <picture>
      <img class="feature__image" src="images/easy.jpg" alt=""
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
        nulla.
      </p>
    </div>
    <picture>
      <img class="feature__image" src="images/easy.jpg" alt=""
    /></picture>
  </article>
</section>
