<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
    consequuntur perspiciatis id officiis laudantium nobis ad accusantium
    distinctio similique. Doloribus!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Joshua Genat</h3>
        <p class="quote__company">Fuse Canada</p>
      </div>
    </div>
  </footer>
</blockquote>
